<div
  class="w-full mx-auto flex lg:flex-row flex-col lg:gap-x-12 items-center justify-start lg:justify-center lg:items-start mt-16 min-h-screen px-4 sm:px-6 md:px-8"
>
  <header class="w-full lg:w-1/2 flex justify-center lg:justify-end">
    <!-- Page heading -->
    <h1
      class="xl:text-8xl text-7xl font-semibold mb-4 text-[#77726E] font-rouge border-b border-[#77726E] w-fit"
    >
      Add Recipe
    </h1>
  </header>
  <div class="w-full lg:m-0 lg:w-1/2">
    <app-recipe-form (submitEvent)="onSubmit($event)"></app-recipe-form>
    <div *ngIf="isLoading()" class="py-2">
      <app-loading></app-loading>
    </div>
  </div>
</div>
